$main_clr: #E8F6F0;
$main_dark_clr: #3D9DDE;
$primary_clr: #FFFFFF;
$separator: rgba(0, 0, 0, 0.12);
$body_bg: rgb(248, 249, 250);
$clr_1: #1D2649;
$clr_5: rgba(0, 0, 0, 0.05);
$alarm_clr: #EC4F4F;
$main_clr_light: #DFF5FE;
