$main_clr: #E3EDF3;
$main_dark_clr: #3D9DDE;
$primary_clr: #FFFFFF;
$separator: rgba(0, 0, 0, 0.12);
$body_bg: rgb(248, 249, 250);
$clr_1: #1D2649;
$clr_5: rgba(0, 0, 0, 0.05);
$alarm_clr: #ff0349;
$main_clr_light: #DFF5FE;
$bg_modal: rgba(0, 0, 0, 0.5);
