@keyframes lid-open {
  15%,
  90% {
    transform: rotate(-75deg) translate(-6px, -12px);
    width: 20px;
  }
}

@keyframes balls-drop {
  0%,
  20% {
    transform: translate(-50%, 0);
  }
  40%,
  100% {
    transform: translate(-50%, 44px);
  }
}

@keyframes fill {
  0%,
  20% {
    transform: translate(0, 0);
  }
  50%,
  70% {
    transform: translate(0, -50%);
  }
  90%,
  100% {
    transform: translate(0, -100%);
  }
}

@keyframes background-in {
  0% {
    transform: scale(0, 0.005);
  }
  33% {
    transform: scale(1, 0.005);
  }
  66%,
  100% {
    transform: scale(1, 1);
  }
}

@keyframes modal-in {
  0%,
  66% {
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -30%);
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

